.mail-sidenav {
  display: flex;
  flex-direction: column;
  position: static;
  width: 15.375rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 20px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap: 2rem;
  transform: translate(-100%);

  transition: transform 0.3s;
}

.mail-sidenav.active-sidenav {
  transform: translate(0);
  z-index: 5;
}

.mail-sidenav-compose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-top: 2rem;
  border-radius: 30px;

  color: #f0eeee;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.mail-sidenav-compose:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 8px 1px rgb(60 64 67 / 15%);
}

.mail-sidenav ul {
  flex-direction: column;
  margin-top: 30px;
  /* height: 100vh; */
}

.mail-sidenav ul > li {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.mail-sidenav ul > li:hover {
  background-color: #f1f3f4;
  border-radius: 0px 30px 30px 0;
}

.side-nav {
  color: #292929;
  padding: 10px;
}

.active-side {
  color: #d61200;
  font-weight: bold;

  border-radius: 0px 30px 30px 0;
  background-color: #fce8e6;
}

@media (min-width: 1020px) {
  .mail-sidenav {
    transform: translate(0);
    position: static;
  }
}
