.note-preview .note-content {
    text-align: center;
    font-size: 1.5rem;
}


.note-preview .note-img {
    width: 100%;
}

.note-preview .note-img img {
    object-fit: cover;
}


/* Icons */
.note-preview .fas.fa-thumbtack {
    padding: 15px;
    transition: 0.7s ease-out;
    position: absolute;
    color: darkgrey;
    opacity: 0;
    left: 5%;
    top: 5%;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.218s ease-in
}


/* .note-preview .fas.fa-thumbtack:hover {
    opacity: 1;
    transform: scale(1.3);
} */